* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

.google-header {
    font-family: 'poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Create a transparent profile picture.*/
.img-button {
    border: none;
    background-color: transparent;

}

.img-button img {
    width: 50px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}